[submodule "submodules/ndis-driver-library"]
	path = submodules/ndis-driver-library
	url = https://github.com/microsoft/ndis-driver-library
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://github.com/microsoft/wil
[submodule "submodules/quic-offloads"]
	path = submodules/quic-offloads
	url = https://github.com/microsoft/quic-offloads.git
