[submodule "submodules/ndis-driver-library"]
	path = submodules/ndis-driver-library
	url = https://github.com/microsoft/ndis-driver-library
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://github.com/microsoft/wil

[submodule "submodules/ebpf-for-windows"]
	path = submodules/ebpf-for-windows
	url = https://github.com/microsoft/ebpf-for-windows.git
