//
// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.
//

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "XDP Functional Test Light Weight Filter"
#define VER_INTERNALNAME_STR        "xdpfnlwf.sys"
#define VER_ORIGINALFILENAME_STR    "xdpfnlwf.sys"

#include "common.ver"
