name: Build XDP

# The caller is responsible for making sure all options passed to this workflow are valid and compatible with each other.

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      os:
        required: false
        type: string
        default: '2022'
        # options:
        #   - 2022
      platform:
        required: false
        default: 'x64'
        type: string
        # options:
        #   - x64
        #   - arm64
      codeql:
        required: false
        default: false
        type: boolean
      artifact_path:
        required: false
        default: ''
        type: string

jobs:
  build:
    name: Build ${{ inputs.platform}}_${{ inputs.config }}_${{ inputs.os }}
    strategy:
      fail-fast: false
    runs-on: windows-${{ inputs.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      with:
        repository: microsoft/xdp-for-windows
        submodules: recursive
        ref: ${{ inputs.ref }}
    - name: Initialize CodeQL
      if: inputs.codeql
      uses: github/codeql-action/init@v3
      with:
        languages: c-cpp
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
      with:
        msbuild-architecture: x64
    - name: Prepare Machine
      shell: PowerShell
      run: tools/prepare-machine.ps1 -ForBuild -Verbose -Platform ${{ inputs.platform }}
    - name: Nuget Restore
      run: msbuild.exe xdp.sln /t:restore /p:RestoreConfigFile=tools/nuget.config /p:Configuration=${{ inputs.config }} /p:Platform=${{ inputs.platform }}
    - name: Prepare for compiling eBPF programs
      run: tools/prepare-machine.ps1 -ForEbpfBuild -Verbose -Platform ${{ inputs.platform }}
    - name: Build
      # See /tools/build.ps1 for /nodeReuse:false discussion.
      run: msbuild xdp.sln /m /p:configuration=${{ inputs.config }} /p:platform=${{ inputs.platform }} /p:SignMode=TestSign /p:IsAdmin=true /nodeReuse:false
    - name: Upload Artifacts
      if: inputs.artifact_path != ''
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
      with:
        name: ${{inputs.artifact_path}}
        path: |
          artifacts/bin
          !artifacts/bin/**/*.ilk
          !artifacts/bin/**/*.exp
          !artifacts/bin/**/*.lastcodeanalysissucceeded
    - name: Perform CodeQL Analysis
      if: inputs.codeql
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:c-cpp"
