name: Build XDP

# The caller is responsible for making sure all options passed to this workflow are valid and compatible with each other.

on:
  workflow_call:
    inputs:
      ref:
        required: false
        default: ''
        type: string
      config:
        required: false
        default: 'Release'
        type: string
        # options:
        #   - Debug
        #   - Release
      os:
        required: false
        type: string
        default: '2022'
        # options:
        #   - 2019
        #   - 2022
      arch:
        required: false
        default: 'x64'
        type: string
        # options:
        #   - x64
      codeql:
        required: false
        default: false
        type: boolean
      upload_artifacts:
        required: false
        default: true
        type: boolean

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
    runs-on: windows-${{ inputs.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      with:
        repository: microsoft/xdp-for-windows
        submodules: recursive
        ref: ${{ inputs.ref }}
    - name: Initialize CodeQL
      if: inputs.codeql
      uses: github/codeql-action/init@v3
      with:
        languages: c-cpp
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce
    - name: Prepare Machine
      shell: PowerShell
      run: tools/prepare-machine.ps1 -ForBuild -Verbose
    - name: Install LLVM 11.0
      run: |
        choco install -y llvm --version 11.0.1 --allow-downgrade
        echo "C:\Program Files\LLVM\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - name: Nuget Restore
      run: nuget.exe restore xdp.sln -ConfigFile src/nuget.config
    - name: Prepare for compiling eBPF programs
      run: tools/prepare-machine.ps1 -ForEbpfBuild -Verbose
    - name: Build
      run: msbuild xdp.sln /m /p:configuration=${{ inputs.config }} /p:platform=${{ inputs.arch }} /p:SignMode=TestSign /p:IsAdmin=true
    - name: Upload Artifacts
      if: inputs.upload_artifacts
      uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b
      with:
        name: bin_${{ inputs.config }}_${{ inputs.arch }}
        path: |
          artifacts/bin
          !artifacts/bin/**/*.ilk
          !artifacts/bin/**/*.exp
          !artifacts/bin/**/*.lastcodeanalysissucceeded
    - name: Perform CodeQL Analysis
      if: inputs.codeql
      uses: github/codeql-action/analyze@v3
      with:
        category: "/language:c-cpp"
